.card-container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	padding: 0.75rem;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.75rem;
	margin-bottom: 1rem;
}

.card-header {
	display: flex;
	align-items: center;
}

.card-id {
	flex: 1;
	font-size: 0.75rem;
	color: grey;
}

.card-profile {
	position: relative;
}

.card-profile > img {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	object-fit: cover;
}

.card-profile > .profile-img-initials {
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 5px;
  font-size: 0.75rem;
}


.card-profile > .user-activity {
	position: absolute;
	bottom: 0;
	right: -0.125rem;
	width: 0.675rem;
	height: 0.675rem;
	border-radius: 50%;
	border: 1px solid #ffffff;
}

.user-activity.online {
	background-color: #00ff00;
}

.user-activity.offline {
	background-color: rgb(202, 202, 202);
}

.card-title-parent {
	display: flex;
	align-items: center;
	margin-top: 0.25rem;
	margin-bottom: 0.75rem;
}

.card-progress-point {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.325rem;
}

.card-title {
	font-size: 1rem;
	font-weight: 500;
	max-width: 85%;
}

.card-footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.priority {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(128, 128, 128, 0.25);
	border-radius: 0.325rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.priority-shape {
	width: 70%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.priority img {
	max-width: 100%;
	max-height: 100%;
}

.card-tag {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	height: 1.5rem;
	padding: 0.5rem 0.5rem;
	border-radius: 0.325rem;
	border: 1px solid rgba(128, 128, 128, 0.25);
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	color: rgba(128, 128, 128, 0.75);
	font-weight: 800;
}

.tag-point {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.325rem;
	background-color: rgba(128, 128, 128, 0.5);
}
.hidden {
	display: none;
}
